<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.HotelHighVoucherOrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into hotel_high_voucher_order
        (voucher_id, user_id, order_id, order_no, status, receive_time, lock_time, use_time, expire_time, cancel_time,
         source_type, create_time, update_time)
        values
        (#{voucherId}, #{userId}, #{orderId}, #{orderNo}, #{status}, #{receiveTime}, #{lockTime}, #{useTime}, #{expireTime}, #{cancelTime},
         #{sourceType}, now(), now())
    </insert>

    <select id="listByUserId" resultType="com.sky.vo.HotelHighVoucherOrderVO">
        select hvo.id,
               hvo.voucher_id,
               hvo.order_id,
               hvo.order_no,
               hvo.status,
               hv.name as voucher_name,
               hv.scope_type,
               hv.channel_type as scope_label,
               hv.pay_value as threshold_amount,
               hv.actual_value as discount_amount,
               hvo.receive_time,
               hvo.use_time,
               hvo.expire_time
        from hotel_high_voucher_order hvo
                 inner join hotel_high_voucher hv on hv.id = hvo.voucher_id
        where hvo.user_id = #{userId}
        <if test="status != null">
            and hvo.status = #{status}
        </if>
        order by hvo.receive_time desc
    </select>

    <select id="getById" resultType="com.sky.entity.HotelHighVoucherOrder">
        select *
        from hotel_high_voucher_order
        where id = #{id}
        limit 1
    </select>

    <update id="update" parameterType="com.sky.entity.HotelHighVoucherOrder">
        update hotel_high_voucher_order
        <set>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lockTime != null">lock_time = #{lockTime},</if>
            <if test="useTime != null">use_time = #{useTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
