<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail (name, order_id, dish_id, product_id, sku_id, setmeal_id, dish_flavor,
                                  sku_spec, number, amount, image, unit)
        values
        <foreach collection="orderDetailList" item="item" separator=",">
            (#{item.name}, #{item.orderId}, #{item.dishId}, #{item.productId}, #{item.skuId},
             #{item.setmealId}, #{item.dishFlavor}, #{item.skuSpec}, #{item.number},
             #{item.amount}, #{item.image}, #{item.unit})
        </foreach>
    </insert>

</mapper>
